.App {
  padding: 16px
}

.carOptionInput {
  margin-top: 8px;
}

.App-title {
  text-align: center;
  margin-bottom: 64px;
}

.App-author {
  margin: 28px 0;
  padding: 0;
  font-weight: 600;
}

.App-form {
  max-width: 700px;
}